/*  Global  */
* {
  font-family: Georgia, serif;
  color: black;
  text-shadow: 1px 1px white;
}

h1 {
  font-weight: bold;
}

p {
  font-size: 1.3em;
}

hr {
  border: solid 1px black;
  box-shadow: 1px 1px white;
}

.container-fluid,
.container,
.divider {
  min-width: 450px;
  max-width: 100%;
}
/*  Nav  */


/* Greeting  */

#Greeting {
  height: 500px;
  background-image: url(./images/greeting.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: grayscale(.7);
}


#Greeting h1,
#Greeting h2 {
  font-size: 2.5em;
}

#Greeting .row {
  height: 50%;
}

.btn {
  text-shadow: none;
  box-shadow: 2px 2px black;
}

/* Divider  */

.divider {
  height: 50px;
  width: 100%;
  background-image: linear-gradient(hsl(0, 0%, 70%), white 80%);
}

/* Bio Section  */
.bio-text {
  width: 400px;
}

#Bio {
  margin: 50px 0;
}

#Me {
  background-image: url('./images/me.jpg');
  background-size: cover;
  background-position: center;
  width: 300px;
  height: 400px;
  filter: grayscale(.3);
}

/* Portfolio  */
#Portfolio .row {
  overflow-x: scroll;
}

#Portfolio img {
  width: 400px;
}


/* Contacts  */

.fab {
  font-size: 1.5em;
}

@media (min-width: 1366px) {

  #Portfolio .row {
    overflow-x: hidden;
  }

  #Portfolio img {
    width: 400px;
  }
}

@media (min-width: 1500px) {
  #Portfolio img {
    width: 550px;
  }
}
