/*  Global  */
* {
  font-family: Georgia, serif;
  color: black;
  text-shadow: 1px 1px white;
}

h1 {
  font-weight: bold;
}

hr {
  border: solid 1px black;
  box-shadow: 1px 1px white;
}

.container-fluid,
.container,
.row {
  min-width: 450px;
  max-width: 100%;
}
/*  Nav  */


/* Greeting  */

#Greeting {
  height: 500px;
  background-image: url(./images/body_background.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}


#Greeting h1,
#Greeting h2 {
  font-size: 2.5em;
}

#Greeting .row {
  height: 50%;
}

.btn {
  text-shadow: none;
  box-shadow: 2px 2px black;
}

/* Divider  */

.divider {
  height: 50px;
  width: 100%;
  background-image: linear-gradient(hsl(0, 0%, 70%), white 80%);
}

/* Bio Section  */
.bio-text {
  width: 400px;
}

/* Portfolio  */
#Portfolio .row {
  overflow-x: scroll;
}


/* Contacts  */

.fab {
  font-size: 1.5em;
}
