@import url('https://fonts.googleapis.com/css2?family=Lato&family=Montserrat&display=swap');

/*  Global  */
* {
  box-sizing: content-box;
  font-family: 'Montserrat', Arial, sans-serif;
}

.head-font {
  font-family: 'Lato', Georgia, times;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

h1 {
  font-size: 2.5em;
}


h2 {
  font-size: 2em;
  margin-bottom: 15px;
}

h3 {
  font-size: 1.6em;
}

p {
  font-size: 1.2em;
  line-height: 1.5em;
}

body {
  background-image: url('./images/body_background.JPG');
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding: 10px 5px;
}

button {
  font-size: 1.5em;
  font-weight: bold;
  color: white;
  background: linear-gradient(to bottom, white, hsl(0, 0%, 30%));
  border: 5px outset grey;
  padding: 8px;
  transition-property: transform;
  transition-duration: .05s;
}

button:active {
  border: 5px inset grey;
  transform: translateY(5px);
  background: radial-gradient(white -50%, hsl(0, 0%, 15%) 110%);
  outline: none;
}

button:hover {
  cursor: pointer;
}

button:focus {
  outline: none;
}

section {
  background-color: hsla(162, 6%, 69%, 0.95);
  border: 5px ridge slategrey;
  border-top: 30px double #51672d;
  padding: 0 10px 10px 10px;
  margin-top: 100px;
}

img {
  max-width: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
  width: 100%;
}

.responsive-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  width: 100%;
}

.shadow {
  box-shadow: 5px 5px 10px hsl(0, 0%, 15%);
}

.title {
  font-size: 4em;
  background-color: slategrey;
  color: white;
  margin-top: 20px;
  padding: 4px 8px;
}

.outset {
  border: 6px ridge gray;
}


/*  Header  */
header {
  padding: 40px 0;
  max-width: 100%;
}



.img-wrapper {
  width: 200px;
  height: 200px;
  border: 5px double #51672d;
  border-radius: 50%;
  background-image: url('./images/me.jpg');
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  background-color: #e8dcd2;
  margin: 0 auto 30px auto;
}

.text-wrapper {
  display: flex;
  color: white;
  background-image: linear-gradient(to bottom, grey, hsl(0, 0%, 15%));
  flex-flow: column;
  padding: 25px;
  border: 10px ridge grey;
  margin: 0 auto;
}

/*  Nav  */
nav {
  margin-top: 100px;
}


/*  Projects  */
#Projects {
  margin-top: 0 !important;
}

figure {
  position: relative;
  text-align: center;
  margin: 20px 0;
}

figcaption {
  display: block;
  max-width: 90%;
  font-size: .8em;
  font-weight: bold;
  position: absolute;
  bottom: 15px;
  border-radius: 20px;
  background-color: hsl(180, 80%, 95%);
  border: 1px solid grey;
  color: black;
}

/*  Skills  */
#Skills {
  padding: 20px;
}

#Skills .title {
  margin-bottom: 20px;
}

.skill-card {
  width: 95%;
  background-color: #ddd;
  justify-content: flex-start;
  padding: 0;
  margin: 0;
}

.skill-card img {
  width: 100%;
  border-bottom: 30px double white;
}

.skill-title {
  max-width: 95%;
  display: block;
  margin: 20px 50px;
}

#JS img {
  border-bottom-color: #323330;
}

#React {
  margin: 20px 0;
}

#React img {
  border-bottom-color: #61d9fa;
}

ul {
  padding-top: 0;
  margin-top: 0;
  line-height: 1.5em;
}


/*  About  */

#About {
  width: 85%;
  text-align: center;
  margin: 30px 0 50px 0;
}

#More {
  display: inline;
  color: white;
  font-size: .8em;
}

 #More:hover {
  cursor: pointer;
}


/*  Contact  */
#Contact > .row {
  justify-content: center;
  margin-top: 10px;
}

.contact-btn {
  color: white;
  text-shadow: 0 4px 4px black;
  font-weight: bold;
  margin: 0 5px;
  font-size: 1em;
}

.contact-btn i {
  font-size: 1.4em;
  position: relative;
  top: 0;
}

@media (min-width: 768px) {
  button {
    font-size: 2em;
    padding: 10px;

  }

  .img-wrapper {
    width: 300px;
    height: 300px;
    border: 10px double #51672d;
  }

  figcaption {
    font-size: 1.8em;
  }

  #Skills .responsive-flex {
    flex-direction: row;
    justify-content: space-around;
  }

  .skill-card {
    align-items: flex-start;
    width: 32%;
  }

  .skill-title {
    font-size: 1.8em;
    margin: 15px 30px;
  }

  #React {
    margin: 0;
  }

}

@media (min-width: 1024px) {
  body {
    padding: 50px 100px;
  }

  .responsive-flex {
    flex-direction: row;
    justify-content: space-around;
  }

  .img-wrapper {
    width: 300px;
    height: 300px;
    margin: 0 0 0 auto;
    border: 10px double #51672d;
  }

  .text-wrapper {
    margin: 0 auto 0 100px;
    width: 40%;
  }

  button {
    padding: 20px;
  }

}

@media (min-width: 1366px) {
  section {
    padding: 0 50px 50px 50px;
  }

  header .row {
    width: 50%;
  }

  h1 {
    font-size: 5em;
  }


  h2 {
    font-size: 4em;
    margin-bottom: 15px;
  }

  h3 {
    font-size: 1.6em;
  }

  p {
    font-size: 1.8em;
  }

  ul {
    font-size: 2em;
  }
}
